<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/login.css">
<title>Login</title>
</head>
<body>
    <header class="header">
        <a class="header__link" href="/">Back</a>
        <h1 class="header-title">Cinema Forum</h1>
      
       
    </header>
  
    <main>
        <div class="form__signin">
<form action="/signin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="username" placeholder="Enter username" name="username" id="username" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <div class="error">{{ .ErrorText }}</div>
    <button id="submitButton">Submit</button>
</form>
<div class="login_online">
    <div class="log_git">
        <a class="btn_gitLogin" href="/signin/github" role="button">
            <img width="20px" alt="GitHub sign-in" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />
            Authorize with GitHub
        </a>
        <a class="btn_googleLog" href="/signin/google" role="button">
            <img width="20px" alt="Google sign-in" src="https://www.google.com/favicon.ico" />
            Authorize with Google
        </a>

</div>
</div>
</div>
</main>
</body>
</html> 