<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{.Name}}</title>
    <link rel="stylesheet" href="/template/css/posts.css">
</head>
<body>
    <div class="container2">

        <header class="header2">
            <a class="header__link2" href="/">Back</a>
            <h1 class="header-title2">Cinema Forum</h1>
        </header>

        <main class="main2 container2">
            <div class="card2">
                <div class="card-descr2">
                    <h1 class="title2">{{.Name}}</h1>
                    <p class="card-text2">{{.Text}}</p>
                    <p class="time2">{{.FormattedTime}}</p>
                    <img src="{{.PhotoPath}}" width="500" height="600">
                </div>

                <div class="card-categories2">
                    <h2>Categories</h2>
                    <ul>
                        {{range .Category}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>

                <div class="likes2">
                    <span>
                        <form method="POST" action="/posts/likes">
                            <input type="hidden" name="post_id" value={{.Id}}>
                            <input type="hidden" name="status" value="1">
                            <button type="submit"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true">{{.Likes}}&#128077;</i></button>
                        </form>
                    </span>
                    <span>
                        <form method="POST" action="/posts/likes">
                            <input type="hidden" name="post_id" value={{.Id}}>
                            <input type="hidden" name="status" value="-1">
                            <button type="submit"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true">{{.Dislikes}} &#128078;</i></button>
                        </form>
                    </span>
                </div>

                <div class="card-comments2">
                    <h2>Comments</h2>
                    {{range .Comment}}
                        <div class="comment2">
                            <p>{{.Username}}</p>
                            <p style="overflow-x: scroll;">{{.Text}}</p>

                            <div class="likes2">
                                <span>
                                    <form method="POST" action="/posts/likes">
                                        <input type="hidden" name="comment_id" value={{.Id}}>
                                        <input type="hidden" name="post_id" value={{.PostId}}>
                                        <input type="hidden" name="status" value="1">
                                        <button type="submit"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true">&#128077;{{.Likes}}</i></button>
                                    </form>
                                </span>
                                <span>
                                    <form method="POST" action="/posts/likes">
                                        <input type="hidden" name="comment_id" value={{.Id}}>
                                        <input type="hidden" name="post_id" value={{.PostId}}>
                                        <input type="hidden" name="status" value="-1">
                                        <button type="submit"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"> &#128078;{{.Dislikes}}</i></button>
                                    </form>
                                </span>
                            </div>
                            <br>
                        </div>
                    {{end}}
                </div>
                <div class="card-postcomment2">
                    <form action="/posts/{{.Id}}" method="POST">
                        <label for="text2"><b>text</b></label>
                        <input type="text" placeholder="Enter comment" name="text" id="text2">
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
